h1 {
  font-weight: bold;
}

.first {
  flex-wrap: wrap;
  flex-direction: column;
  height: 30vh;
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  width: 7rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 3px rgba(34, 60, 80, 0.5);
}