.calculator {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 5rem;
  width: 100%;
  min-height: 45vh;
  flex-wrap: wrap;
}

.calculator button {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  font-size: 2.5rem;
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.output {
  background-color: rgba(1, 10, 35, 0.9);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 2rem;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 10px;
  text-align: end;
}

.output .previous-operand {
  width: 100%;
  height: 3rem;
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.output .current-operand {
  width: 100%;
  height: 3rem;
  color: #fff;
  font-size: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
