.g-container {
  /*  margin-top: $navbar-height;*/
  padding: 60px 30px;
  width: 100%;
  min-height: calc(100vh - $navbar-height);
}

.g-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.g-post-buttons {
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: 1px 1px 5px 3px rgba(34, 60, 80, 0.5);
  color: #000000;
}

.g-hidden-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  scrollbar-width: none;
}
